<footer class="text-sm text-center bg-black py-3 text-white/70 custom-font flex justify-center items-center">
	<p class="w-[90%]"> Pagina desarrollada en Astro junto al framework de TailwindCSS, con la finalidad de demostrar mis habilidades y terminar de aprender este mismo framework, configurandolo desde cero esta vez. Pagina de codigo abierto, de libre uso y edicion </p>
</footer>

<style>
.custom-font {
	font-style: italic;
}
</style>